<%= render 'shared/jumbotron' %>
<div class="container">
  <div class="col-xs-7">

      <h1>
        <strong> <%=@venue.name %></strong>
      </h1>

      <div class="d-inline">

        <strong><%= @venue.category%>&nbsp&nbsp</strong>
        <strong><%= @venue.location %>&nbsp&nbsp&nbsp</strong>
        <strong>Capacity: <%= @venue.capacity %>&nbsp</strong>

        <p>
          <br>
          <%= @venue.description %>
          <br>
        </p>

      </div>

      <div>
        <strong>Reviews</strong>
        <% @venue.reviews.each  do |review| %>
        <div class="message">
          <div class="message-body">
            "<%= review.content %>"
          </div>

          <div>
            <%= review.rating %> <span class="star-icon full">☆</span>
          </div>
        </div>
        <% end %>
      </div>
  </div>
  <div class="col-xs-5">
    <%= render 'shared/venue_form' %>
  </div>
</div>

<%= link_to 'Back', search_path %>






