<%= render 'shared/jumbotron' %>
<div class="container">
  <div class="col-xs-7">

    <h2>
      <strong> <%=@venue.name %></strong>
      <hr>
    </h1>
    <div class="d-inline categories">
      <i class="fas fa-building"></i>
      <%= @venue.category%>&nbsp&nbsp
      <i class="fas fa-map-marker"></i>
      <%= @venue.location %>&nbsp&nbsp&nbsp
      <i class="fas fa-users"></i>
      Capacity: <%= @venue.capacity %>&nbsp

      <hr>
      <p>
        <br>
        <%= @venue.description %>
        <br>
      </p>

    </div>

    <div>
      <h3><strong>Reviews</strong></h3>


      <% @reviews.each  do |review| %>
      <div class="message">
  <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/joemonteiro">
        <div class="message-name">
          <h3><%= current_user.name%></h3>
        </div>
        <div class="message-body">
          "<%= review.content %>"
        </div>
        <div>
          <%= review.rating %> <i class="fas fa-star"></i>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="col-xs-5">
    <%= render 'shared/venue_form' %>
  </div>
</div>



<center><%= link_to 'home', root_path %><center>






